<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{CSS_PATH}changepass.css">
    <link rel="stylesheet" href="{CSS_PATH}base.css">
    <script src="{JS_PATH}rem.js"></script>
    <title>修改密码</title>
</head>
<body>
<header>
    <img src="{IMG_PATH}ye.png" alt="">
    <div class="banner-box">
        <div class="banner-top">
            <a class="return" href="index.php?a=mrrPre"><img src="{IMG_PATH}return.png"  alt=""></a>
            <div class="tx">
                <div>
                    <div class="cir1"></div>
                    <div class="cir2"></div>
                    <div class="cir3"></div>
                    <div class="cir4">
                        <img src="{IMG_PATH}tx7.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="name-box">
                <div class="name">
                    <div>Hello Kitty</div>
                    <div>A women,you can solowly go away</div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <form action="" class="bd">
        <input type="text" class="biaoti" placeholder="用户名">
        <input type="text" class="biaoti" placeholder="请输入旧密码">
        <input type="text" class="biaoti" placeholder="请输入新密码">
        <input type="text" class="biaoti" placeholder="请再次输入新密码">
        <button>确认</button>
    </form>
</div>
</body>
</html>