<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>积分商城</title>
    <link rel="stylesheet" href="{CSS_PATH}integral.css">
    <script src="{JS_PATH}rem.js"></script>
    <script src="{JS_PATH}jquery.js"></script><!--
    <script src="{JS_PATH}jquery.min.js"></script>-->
    <script src="{JS_PATH}integral.js"></script>
</head>
<body>
<header>
    <a href='index.php?a=mrrPre'  class="colFan">&lt;</a>
    <div class="colZI">积分商城</div>
    <div class="colFan"></div>
</header>
<div class="banner">
    <div class="intSign">签到</div>
    <div class="intZi">
        <div class="intZi-top">386</div>
        <div class="intZi-conter">
            <div></div>
            <p>我的积分</p>
            <div></div>
        </div>
        <div class="intZi-bottom">连续签到：<span>4</span>天</div>
    </div>
    <div class="Sign">
        <div class="Sign-top">
            <p>+3</p>
            <p>+6</p>
            <p>+9</p>
            <p>+12</p>
            <p>+15</p>
            <p>+18</p>
            <p>+21</p>
        </div>
        <div class="Sign-center">
            <div class="Sign-center1"></div>
            <div class="Sign-yuan">
                <div class="Sign-yuanson"></div>
                <div class="Sign-yuanson"></div>
                <div class="Sign-yuanson"></div>
                <div class="Sign-yuanson"></div>
                <div class="Sign-yuanson"></div>
                <div class="Sign-yuanson"></div>
                <div class="Sign-yuanson"></div>
            </div>
        </div>
        <div class="Sign-top" style="font-size: 0.18rem;line-height: 0.18rem;">
            <p>1天</p>
            <p>2天</p>
            <p>3天</p>
            <p>4天</p>
            <p>5天</p>
            <p>6天</p>
            <p>7天</p>
        </div>
    </div>
</div>
<main>
    <div class="intMain">
        <div class="intMain-son dian">
            <div class="intMain-yuan"></div>
            <div class="intMain-zi">
                <p class="a1">可兑换商品</p>
                <p class="a2">CONVERTIBLE</p>
            </div>
            <div></div>
        </div>
        <div class="intMain-son">
            <div class="intMain-yuan"></div>
            <div class="intMain-zi">
                <p class="a1">已兑换商品</p>
                <p class="a2">CONVERTIBLE</p>
            </div>
            <div></div>
        </div>
    </div>
    <div class="intMain-content" style="display: block;">
        <div class="content">
            <div class="intMain-contop">
                <p class="contop1">野生吊兰</p>
                <div class="contop2">
                    <img src="{IMG_PATH}mrr7.png" alt="">
                    <p>50积分</p>
                </div>
            </div>
            <div class="intMain-concenter">
                <img src="{IMG_PATH}mrr10.png" alt="">
            </div>
            <div class="intMain-conbottom">
                <div class="conbottom1">
                    <div></div>
                    <p>面对阻碍不屈不挠</p>
                    <div></div>
                </div>
                <div class="conbottom2">
                    <div class="conbottom2-son">
                        <div class="img">
                            <img src="{IMG_PATH}mrr8.png" alt="">
                        </div>
                        <p>2735</p>
                    </div>
                    <div class="conbottom2-son">
                        <div class="img">
                            <img src="{IMG_PATH}mrr9.png" alt="">
                        </div>
                        <p>4286</p>
                    </div>
                </div>
            </div>
            <div class="intMain-exchange">
                <div class="exLeft">
                    <img src="{IMG_PATH}mrr11.png" alt="">
                </div>
                <div class="exRight">兑换</div>
            </div>
        </div>
        <div class="content">
            <div class="intMain-contop">
                <p class="contop1">野生吊兰</p>
                <div class="contop2">
                    <img src="{IMG_PATH}mrr7.png" alt="">
                    <p>50积分</p>
                </div>
            </div>
            <div class="intMain-concenter">
                <img src="{IMG_PATH}mrr10.png" alt="">
            </div>
            <div class="intMain-conbottom">
                <div class="conbottom1">
                    <div></div>
                    <p>面对阻碍不屈不挠</p>
                    <div></div>
                </div>
                <div class="conbottom2">
                    <div class="conbottom2-son">
                        <div class="img">
                            <img src="{IMG_PATH}mrr8.png" alt="">
                        </div>
                        <p>2735</p>
                    </div>
                    <div class="conbottom2-son">
                        <div class="img">
                            <img src="{IMG_PATH}mrr9.png" alt="">
                        </div>
                        <p>4286</p>
                    </div>
                </div>
            </div>
            <div class="intMain-exchange">
                <div class="exLeft">
                    <img src="{IMG_PATH}mrr11.png" alt="">
                </div>
                <div class="exRight">兑换</div>
            </div>
        </div>
    </div>
    <div class="intMain-content">
        <div class="content">
            <div class="intMain-contop">
                <p class="contop1">野生吊兰</p>
                <div class="contop2">
                    <img src="{IMG_PATH}mrr7.png" alt="">
                    <p>50积分</p>
                </div>
            </div>
            <div class="intMain-concenter">
                <img src="{IMG_PATH}mrr10.png" alt="">
            </div>
            <div class="intMain-conbottom">
                <div class="conbottom1">
                    <div></div>
                    <p>面对阻碍不屈不挠</p>
                    <div></div>
                </div>
                <div class="conbottom2">
                    <div class="conbottom2-son">
                        <div class="img">
                            <img src="{IMG_PATH}mrr12.png" alt="">
                        </div>
                        <p>2017-10-25</p>
                    </div>
                </div>
            </div>
            <div class="intMain-exchange">
                <div class="exLeft">
                    <img src="{IMG_PATH}mrr11.png" alt="">
                </div>
                <div class="exRight">兑换</div>
            </div>
        </div>
    </div>
</main>
</body>
</html>