<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="{CSS_PATH}mrrPre.css">
    <script src='{JS_PATH}rem.js'></script>
</head>
<body>
<header>
    <img src="{IMG_PATH}mrr1.png" alt="">
    <a class="hea">
        <div class="pretou">
            <img src="{IMG_PATH}mrr3.png" alt="">
        </div>
        <div class="preming">
            <div>
                <p>Hollow Kitty</p>

                    <img src="{IMG_PATH}mrr4.jpg" alt="" class='changepass'>


            </div>
            <div>A woman, you can slowly go away</div>
        </div>
    </a>
    <div class="prexin">
        <div class="preguan">
            <p>68</p>
            <div class="prewen">
                <p>消息</p>
                <p>GUANZHU</p>
            </div>
        </div>
        <div class="shu"></div>
        <div class="preguan">
            <p>9</p>
            <div class="prewen">
                <p>关注</p>
                <p>GUANZHU</p>
            </div>
        </div>
        <div class="shu"></div>
        <div class="preguan">
            <p>95</p>
            <div class="prewen">
                <p>积分</p>
                <p>GUANZHU</p>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="main">
        <a href="index.php?a=shoucang">
            <div class="preimg">
                <img src="{IMG_PATH}mrr5.png" alt="">
            </div>
            <div class="premain">
                <div class="premain-top">
                    <p>我的收藏</p>
                    <div class="premain-label">23</div>
                </div>
                <div class="premain-bottom">
                    <p>MY COLLECTION</p>
                </div>
            </div>
            <div class="preright">&gt;</div>
        </a>
    </div>


    <div class="main">
        <a href="index.php?a=zjrz">
            <div class="preimg">
                <img src="{IMG_PATH}mrr5.png" alt="">
            </div>
            <div class="premain">
                <div class="premain-top">
                    <p>专家认证</p>
                </div>
                <div class="premain-bottom">
                    <p>EXPERT CERTIFICATION</p>
                </div>
            </div>
            <div class="preright">&gt;</div>

        </a>

    </div>
    <div class="main">
        <div class="preimg">
            <img src="{IMG_PATH}mrr5.png" alt="">
        </div>
        <div class="premain">
            <div class="premain-top">
                <p>悬赏征集</p>
            </div>
            <div class="premain-bottom">
                <p>REWARD AND COLLECTION</p>
            </div>
        </div>
        <div class="preright">&gt;</div>
    </div>
    <div class="main">
        <a href="index.php?a=integral">
            <div class="preimg">
                <img src="{IMG_PATH}mrr5.png" alt="">
            </div>
            <div class="premain">
                <div class="premain-top">
                    <p>积分商城</p>
                </div>
                <div class="premain-bottom">
                    <p>INTEGRAL MALL</p>
                </div>
            </div>
            <div class="preright">&gt;</div>
        </a>


    </div>
    <div class="main">
        <div class="preimg">
            <img src="{IMG_PATH}mrr5.png" alt="">
        </div>
        <div class="premain">
            <div class="premain-top">
                <p>意见反馈</p>
            </div>
            <div class="premain-bottom">
                <p>REWARD AND COLLECTION</p>
            </div>
        </div>
        <div class="preright">&gt;</div>
    </div>
    <div class="main">
        <div class="preimg">
            <img src="{IMG_PATH}mrr5.png" alt="">
        </div>
        <div class="premain">
            <div class="premain-top">
                <p>设置</p>
            </div>
            <div class="premain-bottom">
                <p>INTEGRAL MALL</p>
            </div>
        </div>
        <div class="preright">&gt;</div>
    </div>
</main>


<footer>
    <ul class="footer_list">
        <li >
            <a href="index.php">
                <div class="footer_icon ">
                    <img src="{IMG_PATH}hfy_%20science.png" alt="">
                </div>
                <div class="footer_text ">
                    科普
                </div>
            </a>

        </li>
        <li>
            <a href="index.php?a=doctor">
                <div class="footer_icon">
                    <img src="{IMG_PATH}hfy_doctor.png" alt="">
                </div>
                <div class="footer_text">
                    医生
                </div>
            </a>

        </li>
        <div class="RichScan">
            <div class="richscan_round">
                <div class="camera">
                    <img src="{IMG_PATH}hfy_camera.png" alt="">
                </div>
            </div>
        </div>
        <li>
            <a href="index.php?a=around">
                <div class="footer_icon">
                    <img src="{IMG_PATH}hfy_shopping.png" alt="">
                </div>
                <div class="footer_text">
                    周围
                </div>
            </a>

        </li>
        <li class='show'>
            <a href="index.php?a=mrrPre">
                <div class="footer_icon hot">
                    <img src="{IMG_PATH}hfy_contact.png" alt="">
                </div>
                <div class="footer_text txt">
                    我的
                </div>
            </a>

        </li>
    </ul>
</footer>
</body>
<script>
    var changepass=document.querySelector('.changepass');
    changepass.onclick=function () {
        location.href='index.php?a=changepass';
    }
</script>
</html>